.ReportModal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  animation: open .5s ease-in-out forwards;
}

.ReportModal .title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.ReportModal .title,
.ReportModal .description {
  padding: 5px;
}

.ReportModal .content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 5px;
}

.ReportModal .content-wrapper img {
  width: 100%;
}

@keyframes open{
	from{
		opacity:0;
	}
	to{
		opacity:1;
	}
}